@tailwind base;
@tailwind components;
@tailwind utilities;

body {

  font-family: "Roboto", sans-serif;
}

input:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}
.form-input {
  
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: #333; 
}

@media (max-width: 768px) {
  .navbar-menu {
    background-color: #1e3a8a; 
    border-radius: 0 0 0.375rem 0.375rem; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
}
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 2;
  transition: opacity 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 2;
  transition: opacity 300ms;
}


.bg-gradient-to-r {
  background: linear-gradient(to right, #626569, #3d69bb); /* Ajusta los colores según tu diseño */
}


